html {
	background-color: rgb(23, 31, 38);
}

* {
	color: white;
}

nav {
	display: flex;
}

nav > div {
	display: flex;
	justify-content: space-around;
	width: 50%;
	margin: auto;
	margin-top: 0;
}

nav > div > * {
	font-size: 150%;
	padding: 10px;
}

nav > div > *:hover {
	border-bottom: solid white 3px;
	transition: 0.2s ease all; 
}

<<<<<<< HEAD
nav > a > img {
	max-height: 150px;
=======
#logo {
	max-height: 100px;
>>>>>>> 5b87dd2da6d79ad48308b9fe633ca3a7f3c7330f
}

.imgdes {
	display: block;
	border: 10px solid black;
}

#frame1 {
	display: flex;
}

#frame1 > * {
	padding: 15px;
}

#frame1 > div {
	font-size: 150%;
}

#fish1 {
	max-height: 300px;
	border-radius: 5px;
}

