* {
    margin: 0;
    padding: 0;
    border: 0;
}

body, html {
  width: 100%;
}

body {
  position: absolute;
  background: #8FBF26;
  font-family: Trebuchet MS;
  box-sizing: content-box;
  color: #243040;
}

#title {
  padding: 0 0 30px 0;
  display: block;
  text-transform: uppercase;
  font-size: 300%;
  text-decoration: underline;
}

.margin {
  margin: 3% 42%;
}

*:focus {
  outline: none;
}

.inputGroup {
  position: relative;
  margin-bottom: 30px;
}

.inputGroup label {
  position: absolute;
  top: 0;
  left: 5px;
  pointer-events: none;
  font-size: 20px;
  font-weight: 500;
  text-transform: uppercase;
}

.inputGroup input,
.inputGroup textarea {
  display: block;
  width: 280px;
  border: none;
  border-bottom: 1px solid #243040;
  left: 25px;
  padding: 5px;
  font-size: 20px;
  background: none;
}

.inputGroup input:focus ~ label,
.inputGroup input:valid ~ label,
.inputGroup textarea:focus ~ label,
.inputGroup textarea:valid ~ label {
  top: -20px;
  transition: all 0.3s ease;
  font-size: 20px;
}

.inputGroup input:focus ~ .inputBar:before,
.inputGroup input:focus ~ .inputBar:after,
.inputGroup textarea:focus ~ .inputBar:before,
.inputGroup textarea:focus ~ .inputBar:after {
  width: 50%;
}

.inputGroup textarea {
  height: 100px;
  width: 280px;
  overflow: auto;
  resize: none;
}

.inputGroup .inputBar {
  position: relative;
  display: block;
  width: 290px;
}

.inputGroup .inputBar:before,
.inputGroup .inputBar:after {
  content: "";
  display: block;
  position: absolute;
  bottom: 0;
  width: 0;
  background: black;
  height: 2px;
  transition: all 0.2s ease;
}

.inputGroup .inputBar:after {
right: 50%;
}

.inputGroup .inputBar:before {
  left: 50%;
}

button {
  background-color: #DDD;
  border: none;
  padding: 15px 0;
  margin-right: 100px;
  width: 290px;
  text-transform: uppercase;
  font-size: 20px;
  border-radius: 5px;
  box-shadow: 0 6px #a1a1a1;
  position: relative;
  cursor: pointer;
}

button:hover {
  box-shadow: 0 4px #a1a1a1;
  top: 2px;
}

button:active {
  top: 6px;
  box-shadow: 0 0;
}